* {
  box-sizing: border-box;
}

html {
  font-size: 6.8px;
}

@media (max-width: 400px) {
  html {
  	font-size: 3px;
  }
}

@media (max-width: 600px) AND (min-width: 400px) {
  html {
  	font-size: 4px;
  }
}

@media (min-width: 600px) AND (max-width: 715px) {
  html {
  	font-size: 6px;
  }
}

body {
  margin: 0;
  background-image: url("images/monopoly.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: 10rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #080808;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.dark-purple {
  background: #5e3577;
}

.light-blue {
  background: #d2eaf5;
}

.purple {
  background: #b02f7c;
}

.orange {
  background: #fa811d;
}

.red {
  background: #f50c2b;
}

.yellow {
  background: #ffed20;
}

.green {
  background: #41994e;
}

.dark-blue {
  background: #5a6dba;
}

.table {
  padding-left: 5rem;
  padding-right: 5rem;
}

.board {
  display: grid;
  grid-template-columns: 12.5rem repeat(9, 8rem) 12.5rem;
  grid-template-rows: 12.5rem repeat(9, 8rem) 12.5rem;
  grid-gap: 0.2rem;
  margin: 5rem auto;
  width: 99.4rem;
  height: 99.4rem;
  background: #080808;
  border: 0.2rem solid #080808;
}

.center {
  grid-column: 2/11;
  grid-row: 2/11;
  background: #fafaf8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.title {
  grid-column: 1/9;
  grid-row: 4;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
}

.community-chest-deck {
  grid-column: 2/4;
  grid-row: 2/4;
  transform: rotate(135deg);
  margin-bottom: 6rem;
  margin-right: 6rem;
}

.chance-deck {
  grid-column: 5/7;
  grid-row: 5/7;
  transform: rotate(315deg);
  margin-top: 6rem;
  margin-left: 6rem;
}

.label {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.3rem;
  padding-bottom: 1rem;
}

.deck {
  border: 0.2rem dashed #080808;
  width: 16rem;
  height: 12rem;
}

.row {
  display: grid;
  grid-gap: 0.2rem;
}

.horizontal-row {
  grid-template-columns: repeat(9, 8rem);
  grid-template-rows: 12.5rem;
}

.vertical-row {
  grid-template-columns: 12.5rem;
  grid-template-rows: repeat(9, 8rem);
}
.vertical-row .container {
  top: 50%;
  left: 50%;
}

.bottom-row {
  grid-column: 2/11;
  grid-row: 11;
}

.left-row {
  grid-column: 1;
  grid-row: 2/11;
}
.left-row .container {
  transform: translate(-50%, -50%) rotate(90deg);
}

.top-row {
  grid-column: 2/11;
  grid-row: 1;
}
.top-row .container {
  transform: rotate(180deg);
}

.right-row {
  grid-column: 11;
  grid-row: 2/11;
}
.right-row .container {
  transform: translate(-50%, -50%) rotate(270deg);
}

.space {
  background: #fafaf8;
  text-align: center;
}
.space .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transform-origin: center;
  height: 12.5rem;
  width: 8rem;
}
.space .price {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.corner .container {
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.corner .name {
  padding: 0;
}

.property .color-bar {
  height: 2.5rem;
  border-bottom: 0.2rem solid #080808;
}

.railroad .name {
  padding-top: 1rem;
}
.railroad .drawing {
  font-size: 6rem;
  color: #080808;
}

.utility .name {
  padding-top: 1rem;
  font-size: 9px;
}
.utility .drawing {
  font-size: 6rem;
}

.fee .name {
  font-size: 1.4rem;
}
.fee .instructions {
  font-size: 1.5rem;
}

.go {
  grid-column: 11;
  grid-row: 11/12;
  position: relative;
}
.go .container {
  justify-content: flex-start;
  transform: rotate(315deg);
}
.go .instructions {
  padding: 0 3rem;
  font-size: 8px;
}
.go .go-word {
  font-size: 4rem;
  color: #f50c2b;
}
.go .arrow {
  font-size: 4.5rem;
  color: #f50c2b;
  position: absolute;
  bottom: -1rem;
  left: 0.5rem;
}

.jail {
  grid-column: 1;
  grid-row: 11/12;
  display: grid;
  grid-template-columns: repeat(10, 1.25rem);
  grid-template-rows: repeat(10, 1.25rem);
  justify-content: center;
  align-items: center;
}
.jail .drawing {
  grid-column: 4/11;
  grid-row: 1/8;
  width: 8.75rem;
  height: 8.75rem;
  background: #fa811d;
  border-bottom: 0.2rem solid #080808;
  border-left: 0.2rem solid #080808;
}
.jail .just {
  grid-column: 3;
  grid-row: 4;
  transform: rotate(90deg);
  padding-top: 0.5rem;
}
.jail .visiting {
  grid-column: 6;
  grid-row: 8;
  padding-top: 0.5rem;
}
.jail .container {
  align-items: center;
  transform: rotate(45deg);
}
.jail .name {
  font-size: 1.4rem;
}
.jail .window {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 5.5rem;
  height: 5.5rem;
  background: #fafaf8;
  border: 0.2rem solid #080808;
}
.jail .person {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 4rem;
}
.jail .bar {
  height: 5.5rem;
  width: 0.2rem;
  background: #080808;
}

.free-parking {
  grid-column: 1;
  grid-row: 1/2;
}
.free-parking .container {
  justify-content: center;
  transform: rotate(135deg);
}
.free-parking .name {
  font-size: 1.6rem;
}
.free-parking .drawing {
  font-size: 6rem;
  color: #f50c2b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.go-to-jail {
  grid-column: 11;
  grid-row: 1/1;
}
.go-to-jail .container {
  justify-content: center;
  transform: rotate(225deg);
}
.go-to-jail .name {
  font-size: 1.6rem;
}
.go-to-jail .drawing {
  font-size: 6rem;
  color: #640303;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.chance .container {
  justify-content: center;
}
.chance .drawing {
  font-size: 9rem;
  color: #f50c2b;
}
.chance .blue {
  color: #5a6dba;
}

.community-chest .container {
  justify-content: space-around;
}
.community-chest .drawing {
  font-size: 5rem;
  color: #d2eaf5;
}
.community-chest .instructions {
  font-size: 0.8rem;
}

.electric-company .drawing {
  color: #ffed20;
}

.waterworks .drawing {
  color: #5a6dba;
}

.electric-company .name, .waterworks .name {
  padding-top: 0;
}

.income-tax .container {
  justify-content: center;
  align-items: center;
}
.income-tax .name {
  padding-bottom: 0.5rem;
}
.income-tax .diamond {
  width: 0.5rem;
  height: 0.5rem;
  background: #080808;
  transform: rotate(45deg);
  display: inline-block;
}
.income-tax .instructions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.luxury-tax .drawing {
  font-size: 5rem;
}
.luxury-tax .instructions {
  padding-bottom: 0.5rem;
}

.long-name {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.three-line-name {
  position: relative;
  top: 0.5rem;
}

.players {
  position: fixed;
  align-self: center;
  align-items: center;
  margin-top: 3rem;
}

.players img {
  width: 4rem;
}

.houses {
  position: fixed;
  align-self: center;
  align-items: center;
}

.hotel {
  width: 1.5rem;
}

.house {
  width: 1.2rem;
}

.deck-card {
  height: 11.6rem;
  width: 15.6rem;
}
